<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <!-- 会话工厂 -->
    <session-factory>
    <!--配置方言  -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <!-- 是否输出sql语句 -->
    <property name="hibernate.show_sql" >true</property>
    <property name="hibernate.format_sql" >true</property>
    <!-- 通过配置文件生成表 -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="com/zhang/web/test/entity/User.hbm.xml" />
    </session-factory>
	
</hibernate-configuration>